---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const allPosts = await getCollection("portfolio");
import { Image } from "astro:assets";
---

<Layout>
  <div id="container">
    <h1>Projects</h1>
    <div id="projects">
      <!-- Loop through all posts -->
      {
        allPosts.map((post) => (
          <div
            id="card"
            onclick={`location.href='/portfolio/${post.id}'`}
            style="cursor: pointer;"
          >
            {() => {
              if (!post.data.image) {
                return (
                  <img
                    src="https://via.placeholder.com/300"
                    alt="Placeholder image"
                  />
                );
              } else {
                return (
                  <Image src={post.data.image.url} alt={post.data.image.alt} />
                );
              }
            }}
            <hr />
            <div id="card-content">
              <h2>{post.data.title}</h2>
              <p>{post.data.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
  }

  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #313244;
    transition: 0.5s;
  }

  #card:hover {
    scale: 1.1;
    transition: 0.5s;
    border: 3px solid #ccc;
    background-color: #45475a;
  }
  img {
    width: auto;
    max-height: 200px;
    border-radius: 5px;
  }

  h2 {
    margin-top: 1rem;
    color: white;
    text-align: center;
  }

  h1 {
    color: white;
    text-align: center;
  }

  #card-content {
    /* postion card content at the bottom of the card */
    display: block;
    position: relative;
    bottom: 0;
    text-align: center;
  }

  hr {
    border: 1px solid #ffffff61;
    width: 100%;
    margin: 1rem 0;
  }
</style>
