---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
---

<Layout>
  <main>
    <div class="header">
      <h1>{frontmatter.title}</h1>
      <div id="header-grid">
        <div id="description">
          <h3>{frontmatter.description}</h3>
          <slot />
        </div>
      </div>
      {frontmatter.link ? <a href={frontmatter.link}>View Here</a> : null}
    </div>
    <hr />
    <div id="gallery">
      <h2>Screenshots</h2>
      <!-- parse the screenshots array -->
      <div id="screenshots">
        {
          frontmatter.screenshots.map(
            (screenshot: {
              url: string | null | undefined;
              alt: string | null | undefined;
            }) => (
              <div id="screenshot">
                <img src={screenshot.url} alt={screenshot.alt} />
              </div>
            )
          )
        }
      </div>
    </div>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    padding: 20px 20px;
    margin: 0 auto;
    color: #cdd6f4;
    height: 100%;
    overflow: auto;
  }

  * {
    font-family: "Shantell Sans", cursive;
  }

  .header {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    height: 100%;
  }
  h1 {
    margin: 0;
    padding-bottom: 20px;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  h3 {
    margin: 0;
    color: white;
  }

  a {
    color: white;
  }
  p {
    margin: 0;
    font-size: 16px;
  }

  hr {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 0;
    border-top: 1px solid #ccc;
  }

  #screenshots {
    display: grid;
    /* create a 2 wide grid */
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;
  }

  #header-grid {
    display: flex;
    flex-direction: column;
  }
  #screenshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 70%;
    height: auto;
  }
</style>
