---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <main>
    <div id="container">
      <div id="content">
        <div class="header">
          <h1>{frontmatter.title}</h1>
          <div id="description">
            <h3>{frontmatter.description}</h3>
          </div>
        </div>

      <div id="article">
        <slot />
        {frontmatter.link ? <a href={frontmatter.link}>View Here</a> : null}
      </div>
    </div>

      <div id="gallery">
        <h2>Screenshots</h2>
        <!-- parse the screenshots array -->
        <div id="screenshots">
          {
            frontmatter.screenshots.map(
              (screenshot: {
                url: string | null | undefined;
                alt: string | null | undefined;
              }) => (
                <div id="screenshot">
                  <Image src={screenshot.url} alt={screenshot.alt} />
                </div>
              )
            )
          }
        </div>
      </div>
    </div>
  </main>

  <style>
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #cdd6f4;
      height: 100%;
      overflow: scroll;
    }

    #container {
      display: flex;
    }

    #container > * {
      flex: 1 1 auto;
    }
    #content {
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-right: 1px solid #cdd6f4;
    }

    .header {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
    }
    h1 {
      margin: 0;
      padding-bottom: 20px;
    }
    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    h3 {
      margin: 0;
      color: white;
    }

    a {
      color: white;
    }

    hr {
      margin-top: 2rem;
      margin-right: 2rem;
      margin-left: 2rem;
      border: 0px;
      border-top: 1px solid #ccc;
    }

    #screenshots {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      padding: 20px;
    }
    #screenshot {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  </style>
</Layout>
